@import "../../styles/vars";
@import "../../styles/mixins";

.page {
  .header {
    @include h1;
    margin-bottom: 20px;
  }

  .list {
    display: flex;
    flex-flow: row wrap;
    margin: -10px -10px -10px -10px;

    .item {
      width: 200px;
      height: 200px;
      padding: 20px;
      border: 1px solid $grayLight;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 10px;
      cursor: pointer;

      .photo {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }

      .favoriteIcon {
        opacity: 0;
        position: absolute;
        left: 10px;
        bottom: 10px;
        transition: opacity 0.15s linear;

        svg {
          width: 18px;
          height: 18px;
          cursor: pointer;
          transition: opacity 0.15s linear;
        }
      }

      &:hover {
        .favoriteIcon {
          opacity: 1;

          svg {
            opacity: 0.6;
            &:hover {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 8, 64, 0.5);

  .open_photo {
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
}

.popup_close {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 100;

  span {
    position: absolute;
    left: 0;
    top: 50%;
    display: block;
    width: 40px;
    height: 2px;
    background-color: #b5b5b5;
    transform: translateY(-50%);

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}

.arrow_right {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  right: 40px;
  top: 50%;
  width: 30px;
  height: 30px;
  z-index: 100;
  cursor: pointer;

  svg {
    width: 30px;
    height: 30px;

    path {
      fill: #fff;
    }
  }
}

.arrow_left {
  border: none;
  padding: 0;
  background-color: transparent;
  position: absolute;
  left: 40px;
  top: 50%;
  width: 30px;
  height: 30px;
  z-index: 100;
  cursor: pointer;

  svg {
    width: 30px;
    height: 30px;

    path {
      fill: #fff;
    }
  }
}
