:root {
  --popup-z: 10000;
  --close-button-z: calc(var(--popup-z) + 1);
}

.popup {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  height: 100vh;
  display: grid;
  justify-items: stretch;
  justify-content: space-between;
  align-content: center;
  grid-template-columns: minmax(100px,1fr) minmax(200px,10fr) minmax(100px,1fr);
  grid-template-rows: 100vh;
  grid-template-areas:
    "arrowLeft photo arrowRight";
  background-color: rgba(0, 8, 64, 0.5);
}

.open_photo {
  display: block;
  grid-area: photo;
  position: relative;
  object-fit: contain;
  height: 100%;
}

.popupButton {
  svg {
    path {
      fill: #fff;
    }
  }

  &:hover {
    svg {
      path {
        fill: red;
      }
    }
  }
}

.popup_close {
  position: fixed;
  border: none;
  padding: 0;
  background-color: transparent;
  right: 0;
  top: 0;
  width: 130px;
  height: 150px;
  cursor: pointer;
  z-index: var(--close-button-z);

  svg {
    width: 30px;
    height: 30px;
  }
}

.arrow {
  border: none;
  padding: 0;
  background-color: transparent;
  position: relative;
  z-index: 100;
  cursor: pointer;

  svg {
    width: 30px;
    height: 30px;
  }
}

.arrow_right {
  grid-area: arrowRight;
}

.arrow_left {
  grid-area: arrowLeft;
}

.disable_scroll {
  position: relative;
  width: 100%;
  height: 100vh;
}
